<section class="form-section form-section--create">
  <div class="form-wrap">
    <form action="" class="book-form book-form--create js-create-form">
      <input type="text" name="title" required placeholder="book name" />
      <input type="number" name="year" required placeholder="year" />
      <input type="number" name="pages" required placeholder="page quantity" />
      <input type="text" name="ganre" required placeholder="ganre" />
      <input type="number" name="price" required placeholder="price" />
      <input type="text" name="image" required placeholder="image" />
      <input
        type="text"
        name="description"
        required
        placeholder="description"
      />
      <input type="text" name="author" required placeholder="author" />
      <button type="submit">
        Send create
        <span class="loader js-create-loader hidden"></span>
      </button>
    </form>
  </div>
</section>
