<section class="form-section form-section--update">
  <div class="form-wrap">
    <form action="" class="book-form book-form--create js-update-form">
      <input type="text" name="title" placeholder="book name" />
      <input type="number" name="year" placeholder="year" />
      <input type="number" name="pages" placeholder="page quantity" />
      <input type="text" name="ganre" placeholder="ganre" />
      <input type="number" name="price" placeholder="price" />
      <input type="text" name="image" placeholder="image" />
      <input type="text" name="description" placeholder="description" />
      <input type="text" name="author" placeholder="author" />
      <input type="text" name="id" />
      <button type="submit">
        Send update
        <span class="loader js-update-loader hidden"></span>
      </button>
    </form>
  </div>
</section>
