@import url('./header.css');
@import url('./hero.css');
@import url('./create-form.css');
@import url('./update-form.css');
@import url('./reset-form.css');
@import url('./book-list.css');
@import url('./users.css');
@import url('./footer.css');

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid red;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
